
.fs-25{
    font-size: 25px;
  }

.mr-2{
    margin-right:2rem
}

.mr-1{
    margin-right:1rem
}
  
.mr-3{
    margin-right:3rem
}
  
  
  .fs-14{
    font-size:14px
  }
  .fs-12{
    font-size:12px
  }
  
  
  .fs-20{
    font-size: 20px;
  }
  .pb-80{
    padding-bottom: 80px;
  }
  a{
    cursor: pointer;
  }
  h1,h2,h3{
    color: #dc3545;
  }
  
  .logo{
    position: absolute;
    left:0;
    margin-left: 10px;
    background-color: #e1e1e1;
    padding: 3px;
    font-size: 22px;
  }
  #sign-page{
    button{
      background: #004690;
    }
    a{
      color:#004690
    }
  }
  
  .bg-blue{
    background: #004690;
  }
  
  .bg-gray{
    background-color: #e0e0e0;
  }
  
  #navigation{
    position: fixed;
    background: #004690;
    top: 0;
    left:0;
    right: 0;
    height:50px;
    z-index: 999;
    .navbar{
      .nav-item{
        margin-right: 30px;
        margin-left: 30px;
      }
    }
  }
  
  
  //***********************home page**********************
  
  .add-task{
    margin-top: 100px;
  }

  .mark-row{
    .react-datepicker-wrapper{
        width:auto!important
      }
  }
  
  .mark-in{
    // width:400px;
    height:300px;
    margin-right: 100px;
    .react-datepicker-wrapper{
      input{
        width:200px
      }
    }
    .att-container{
      // background-color: #e0e0e0;
      padding:30px;
      border: 1px solid #e0e0e0;
    }
    .mark-row{
      label{
        width:25%
      }
    }
  }
  
  .task-form{
    // background: #e0e0e0;
    border: 1px solid #e0e0e0;
    width:400px;
    // margin: auto;
    padding:20px;
    margin-bottom: 100px;
  
  }
  .form-row{
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    label{
      width:50%;
      color:#4d4c4c;
    }
    input,select,textarea{
      width:50%;
    }
    .react-datepicker-wrapper{
      width:50%;
      input{
        width: 95%
      }
    }
  }
  
  
  
  //******************timesheet page************************
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    width: 120px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
  
  
  .table-row{
    input,textarea{
      border:none;
      &:disabled{
        background-color: inherit;
      }
    }
  }
  
  
    
  
  .timesheet-data{
  
  .btn-toggle{
    position: relative;
    // &:focus, &:active{
    //   border:none!important;
    //   box-shadow: none!important;
    // }
  }
  .btn-toggle.active{
    &:after{
      content: '';
      position: absolute;
      z-index: 2;
      left: 40%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid #004690;
      clear: both;
    }
  }
  
  .react-datepicker-popper{
    position: fixed!important;
    top:auto!important;
  }
  
    // width:99%;
    // min-height: 92vh;
    // overflow-x: scroll;
    margin-top:50px;
    font-size: 15px;
    .user-timesheet{
      max-height: 85vh;
      overflow: auto;
    }
  
    // overflow-y: scroll;
  
    th{
      min-width: 165px;
      max-width: 165px;
      padding: 5px;
      text-align: center;
    }
    th.textbox-desc{
      min-width: 188px;
      max-width: 179px;
    }
    td{
      min-width: 165px;
      max-width: 165px;
      select{
        max-width:150px;
        min-width: 120px;
      }
      padding:5px;
      text-align: center;
      input,textarea,select{
        text-align: center;
        vertical-align: middle;
        text-align-last:center
      }
      input{
        max-width: 100px;
      }
      select:disabled{
        border: none;
        color: #000;
        appearance: none;
        background: inherit;
      }
      textarea{
        height: auto;
      }
    }
      .td-desc{
      max-width:190px;
      // width:200px
    }
  }
  
  
  
  
  
  
  
  //**********************sign-in page**********************
  #sign-in-page{
    width:300px;
    margin:auto;
  }
  .custom-control.custom-switch{
    padding-left: 0;
  }
  .first{
    position: relative;
  }
  .edit-data,.save-data{
    position: absolute;
    top:0;
    left:5px;
    cursor: pointer;
  }
  
  #sign-in-page, #sign-up-page{
    margin-top:100px;
  
    max-width: 350px;
    min-width: 300px;
    border: 1px solid #e0e0e0;
    text-align: center;
    // font-size: 50px;
    input{
      margin: 7px 0;
      height: 40px;
    }
    button{
      height:40px;
    }
  }
  
  
  
  
  
  //********************attendance page********************
  #attendace-page{
    // display: flex;
    justify-content: center;
    margin-top:50px;
  }
  
  .download-section{
    width:85%;
    margin:auto;
  }
  
  .download{
    // background-color: #ccdaff;
    position: relative;
    border: 1px solid #cacaca;
  
    .item{
      h4{
        border-top:1px solid #cacaca;
        border-bottom:1px solid #cacaca;
      }
    }
    .download-icon{
      color:#004690;
      position: absolute;
      pointer-events: none;
      // left:0
    }
    .download-file{
      background: transparent;
      color:#004690;
      padding-left:25px;
      border: none;
      &:focus{
        outline: none;
      }
    }
  }
  
  #attendance{
  
    .btn-toggle.active{
        position: relative;
  
    &:after{
      content: '';
      position: absolute;
      z-index: 2;
      left: 40%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid #004690;
      clear: both;
    }
  }
  
    .attendance-body{
      border:1px solid #e0e0e0;
      max-height: 510px;
      overflow-y: scroll;
      table{
        input{
          width:100px
        }
      }
    }
    max-width:400px;
    // margin:auto;
    // margin-top:100px;
    p{text-align: center;}
    tr:nth-child(even) {
      background-color: #fff;
    }
    // table{
    //   position: relative;
    //    thead tr{
    //   position: fixed;
    //   top:0
    // }
    // }
   
    // th{
    //   background: #004690;
    //   color:#fff;
    // }
  }
  
  #markin,#markout{
    width:100px;
    padding:5px;
    height: 40px;
  }
  
  #markout-form, #markin-form{
    input:disabled{
      background: #fff;
    }
    input{
      margin:0
    }
      position: relative;
  
  }
  
  .calendar-icon{
    height:30px;
    width:30px;
    position: absolute;
    top:0;
    right:20px;
  }
  
  
  .btn{
    background: #dc3545!important;
  }
  //#4472a0
  //************************all users************************
  #all-users{
  
    min-height:90vh;
    .timesheet-data{
      // max-height: 75vh;
      overflow-x: hidden;
      .all-td{
        overflow-x: scroll;
        max-height: 75vh;
        td{
          max-width: 190px;
        }
      }
    }
    #attendance{
      margin:0 auto!important
    }
  }
  
  .drpdwn{
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  
  .user-list{
    
    .search{
      border-radius: 0;
      border: 1px solid #a0a0a0;
      box-shadow: none;
    }
    .search-btn{
      // width:60px;
      padding:5px;
      border-radius: 0;
    }
    #users-list{
      max-height:80vh;
      overflow-y: scroll;
    }
    min-width:400px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
  }
  
  
  
  .label{
    color: #444!important;
  }
  
  
  
  
  @media (max-width:992px){
    .App{
        text-align: center;
    }
    .login-tab{
      display: none!important;
    }
    .navbar{
      max-width:100%!important;
      margin:0!important;
      margin-right: 0!important;
    }
    // .navbar-nav{
    //   position: fixed;
    //   top: 50px;
    // //   background: #004690;
    //   border-top: 1px solid #e0e0e0;
    //   li{
    //     border-bottom: 1px solid #e0e0e0;
    //     margin-left:0!important;
    //     margin-right: 0!important;
    //   }
    // }
  
    #nav-toggle{
      position: fixed;
      top:0;
      left:10px;
      font-size: 20px;
    }
  
  
  
  
    #attendace-page{
      margin-top:50px;
      .mark-in{
        height:auto!important;
        margin:auto
      }
  
      #mark-in,#attendance{
        margin-right:auto;
        margin-left: auto;
      }
    }
  }
  
  
  @media (max-width:768px){
   #attendace-page{
      .react-datepicker-popper{
        left:-30%!important;
      }
    }
  }
  
  
  .btn-toggle{
    border-radius: 0!important;
    // background-color: #003771!important;
    opacity: 0.6;
  }
  .btn-toggle.active{
      // background-color: #003771!important;
      opacity: 1;
  }
  
  
  
  
  #navigation{
    .dropdown {
      position: relative;
      &.open>.dropdown-menu {
        display: block;
      }
      .dropdown-t { 
        cursor: pointer;    
        color: #fff;
        background-color:transparent;
        border-color: #2e6da4;
        border: 1px solid transparent;
        border-radius: 4px;
        // &:focus{
          
        // }
      }
  
      .dropdown-menu {
        position: absolute;
        top: 100%;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
      }
    }
  
    .closed,.opened{
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    .opened{
      border-top: 0;
      border-bottom: .3em solid;
  
    }
  
  }

  #row-keyValue{
    background-color:#ededed
  }

  #utilization{
    select,input{
      width:150px;
      margin-right: 20px;
    }
    .react-datepicker-wrapper{
      width: 180px
    }
  }

.active-link{
  color: #074b93;
  font-weight: bold;
  // font-size: 20px;
}